.navbar{
    background-color: #085E7D !important;
}
.bg-dark{
    background-color: #085E7D !important;
    
}
.card-img-top{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
@media (min-width: 768px){
    .card-img-top{
        height: 30vh;
    }
   
}
@media(max-width: 911px){
    .navbar-nav {
        font-size: 2.0rem;
    }
}
